<a href="https://colab.research.google.com/github/pradityabagus/belajarPython/blob/master/pythoncrashcourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
wardrobe = {"shirt":["red","blue","white"], "jeans":["blue","black"]}
for types, colors in wardrobe.items():
	for color in colors:
	  print("{} {}".format(color,types))

red shirt
blue shirt
white shirt
blue jeans
black jeans

In [ ]:
def email_list(domains):
	emails = []
	for domain, users in domains.items():
	  for user in users:
	    emails.append(user+domain)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kentgmail.com', 'diana.princegmail.com', 'peter.parkergmail.com', 'barbara.gordonyahoo.com', 'jean.greyyahoo.com', 'bruce.waynehotmail.com']

In [ ]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for keys in group_dictionary.keys():
		# Now go through the users in the group
		for user in group_dictionary[keys]:
			if user not in user_groups.keys():
				user_groups[user] = []
			user_groups[user].append(keys)
			# Now add the group to the the list of
			# groups for this user, creating the entry
			# in the dictionary if necessary
			

	return(user_groups)

print(groups_per_user({"local": ["admin", "userA"],
		"public":  ["admin", "userB"],
		"administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [ ]:
def format_address(address_string):
  # Declare variables
  number = int
  street = ""
  # Separate the address string into parts
  splitted_address = address_string.split()
  number = splitted_address[0]
  street = " ".join(splitted_address[1:])
  # Traverse through the address parts
  # for __:
  #   # Determine if the address part is the
  #   # house number or part of the street name

  # # Does anything else need to be done 
  # # before returning the result?
  
  # # Return the formatted string  
  return "house number {} on street named {}".format(number, street)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named Main Street
house number 1001 on street named 1st Ave
house number 55 on street named North Center Drive

In [ ]:
def highlight_word(sentence, word):
  return sentence.replace(word, word.upper())

print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [ ]:
def combine_lists(list1, list2):
  # Generate a new list containing the elements of list2
  # Followed by the elements of list1 in reverse order
  list1.reverse()
  list2.extend(list1)
  return list2
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [ ]:
def car_listing(car_prices):
  result = ""
  for carName, carPrice in car_prices.items():
    result += "{} costs {} dollars".format(carName, carPrice) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [ ]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence
  guests2.update(guests1)
  return guests2
Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

In [ ]:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in text:
    # Check if the letter needs to be counted or not
    if letter.isalpha() == True:
      result[letter] = 0
    # Add or increment the value in the dictionary
      if result.get(letter) != 0: 
        result[letter] += 1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

print(count_letters("Math is fun! 2+2=4"))
# Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

print(count_letters("This is a sentence."))
# Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

{'A': 0, 'a': 0, 'B': 0, 'b': 0, 'C': 0, 'c': 0}
{'M': 0, 'a': 0, 't': 0, 'h': 0, 'i': 0, 's': 0, 'f': 0, 'u': 0, 'n': 0}
{'T': 0, 'h': 0, 'i': 0, 's': 0, 'a': 0, 'e': 0, 'n': 0, 't': 0, 'c': 0}

In [89]:
# “If you have an apple and I have an apple and we exchange these apples then
# you and I will still each have one apple. But if you have an idea and I have
# an idea and we exchange these ideas, then each of us will have two ideas.”
# George Bernard Shaw

class Person:
    apples = 0
    ideas = 0

johanna = Person()
johanna.apples = 1
johanna.ideas = 1

martin = Person()
martin.apples = 2
martin.ideas = 1

def exchange_apples(johanna, martin):
#Here, despite G.B. Shaw's quote, our characters have started with       #different amounts of apples so we can better observe the results. 
#We're going to have Martin and Johanna exchange ALL their apples with #one another.
#Hint: how would you switch values of variables, 
#so that "you" and "me" will exchange ALL their apples with one another?
#Do you need a temporary variable to store one of the values?
#You may need more than one line of code to do that, which is OK.
    exchangedapples = johanna.apples
    johanna.apples = martin.apples
    martin.apples = exchangedapples
    
    return johanna.apples, martin.apples
def exchange_ideas(you, me):
    #"you" and "me" will share our ideas with one another.
    #What operations need to be performed, so that each object receives
    #the shared number of ideas?
    #Hint: how would you assign the total number of ideas to 
    #each idea attribute? Do you need a temporary variable to store 
    #the sum of ideas, or can you find another way? 
    #Use as many lines of code as you need here.
    yourexchangedideas = you.ideas
    you.ideas = you.ideas + me.ideas
    me.ideas = me.ideas + yourexchangedideas
    return you.ideas, me.ideas

exchange_apples(johanna, martin)
print("Johanna has {} apples and Martin has {} apples".format(johanna.apples, martin.apples))
exchange_ideas(johanna, martin)
print("Johanna has {} ideas and Martin has {} ideas".format(johanna.ideas, martin.ideas))

Johanna has 2 apples and Martin has 1 apples
Johanna has 2 ideas and Martin has 2 ideas

In [100]:
# define a basic city class
class City:
	name = ""
	country = ""
	elevation = 0 
	population = 0

# create a new instance of the City class and
# define each attribute
city1 = City()
city1.name = "Cusco"
city1.country = "Peru"
city1.elevation = 3399
city1.population = 358052

# create a new instance of the City class and
# define each attribute
city2 = City()
city2.name = "Sofia"
city2.country = "Bulgaria"
city2.elevation = 2290
city2.population = 1241675

# create a new instance of the City class and
# define each attribute
city3 = City()
city3.name = "Seoul"
city3.country = "South Korea"
city3.elevation = 38
city3.population = 9733509

def max_elevation_city(min_population):
	# Initialize the variable that will hold 
# the information of the city with 
# the highest elevation 
	return_city = City()

	# Evaluate the 1st instance to meet the requirements:
	# does city #1 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city1.population >= min_population and city1.elevation>return_city.elevation:
		return_city = city1
	# Evaluate the 2nd instance to meet the requirements:
	# does city #2 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city2.population >= min_population and city2.elevation>return_city.elevation:
		return_city = city2
	# Evaluate the 3rd instance to meet the requirements:
	# does city #3 have at least min_population and
	# is its elevation the highest evaluated so far?
	if city3.population >= min_population and city3.elevation>return_city.elevation:
		return_city = city3

	#Format the return string
	if return_city.name:
		return "{}, {}".format(return_city.name,return_city.country)
	else:
		return ""

print(max_elevation_city(100000)) # Should print "Cusco, Peru"
print(max_elevation_city(1000000)) # Should print "Sofia, Bulgaria"
print(max_elevation_city(10000000)) # Should print ""

Cusco, Peru
Sofia, Bulgaria

In [105]:
class Dog:
  years = 0
  def dog_years(self):
    return(self.years+7)
    
    
fido=Dog()
fido.years=3
print(fido.dog_years())

10

In [127]:
class Person:
    def __init__(self, name):
        self.name = name
    def greeting(self):
        # Should return "hi, my name is " followed by the name of the Person.
        return "hi, my name is "+ self.name

# Create a new instance with a name of your choice
brian = Person("Brian") 
# Call the greeting method
print(brian.greeting())

hi, my name is Brian